

      /* sm */
      @media (min-width: 300px) and (max-width: 639px) {
        .attrib-basic {
            .car-attrib {
                .is-disabled {
                        .sv-control {
                          display: none;
                        }
                    } 
                }
            }        
        .left-100,.left-200 {
            width:90%;
        }  
        .divider {
            margin-bottom: 1rem;
          }
        .aff-desktop {
            display: none;
        } 
        main {
          padding-bottom: 40px;
        }
        span, .features-item:hover>div {
            display: none;
          
          }
          
          .features-item:hover>span {
            display: block;
          }

        .features {
            .features-item { 
                    padding-left: 35%;
                    padding-right: 35%;
                    min-height:97px
            }
            .features-extended {
                    margin-left: 0%;
                    margin-right: 0%;
                    margin-top: 0px;
                    
             }
             margin-top:80px;
            
        } 

        
        /* .tabs-one [class^=tab] [type=radio]:checked,
        .tabs-one [class*=" tab"] [type=radio]:checked
         {
            .tab-2 ,.tab-3 {
                height:200px !important;
            }
        
        } */
      
        .tabs-one [class^="tab"] label, .tabs-one [class*=" tab"] label {
          font-size: 1.3rem;
        }
          .tabs-one [class^=tab] [type=radio]:checked, .tabs-one [class*=" tab"] [type=radio]:checked {
              width: 70%;
              margin-left: 15%;
          }
          .tabs-second [class^=tab] [type=radio]:checked, .tabs-second [class*=" tab"] [type=radio]:checked {
              width: 70%;
              margin-left: 15%;
          }
          .bx--side-nav__overlay-active {
              z-index: 1 !important;
            }

       
      
      }
      /* md */    
      @media (min-width: 640px) and (max-width: 767px) {
            .left-100,.left-200 {
                width:90%;
            }
            .aff-mob {
                display: none;
            }
            .aff-desktop {
                display: flex;
            } 
            span, .features-item:hover>div {
                display: block;
            
            }
          
            .features-item:hover>span {
                display: block;
            }

            main {
                padding-bottom: 100px;
                padding-top: 100px;
            }
            .features {
                
                .features-item { 
                        padding-left: 25%;
                        padding-right: 25%;
                        height:110px;
                        display:block;
                }
              
                
                /* margin-top:110px; */
            }    

            span, .features-item:hover>div {
                display: block;
              
              }
           

            
         
            .tabs-one [class^=tab] [type=radio]:checked, .tabs-one [class*=" tab"] [type=radio]:checked {
                width: 30%;
                margin-left: 35%;
            }
            .tabs-second [class^=tab] [type=radio]:checked, .tabs-second [class*=" tab"] [type=radio]:checked {
                width: 30%;
                margin-left: 35%;
            }
            .bx--side-nav__overlay-active {
              z-index: 1 !important;
            }
            
         
      } 
      /* lg */   
      @media (min-width: 768px) and (max-width: 1023px) {
        
        .left-100,.left-200 {
            width:90%;
        }
        .aff-mob {
            display: none;
        }
            main {
                padding-bottom: 100px;
                padding-top: 100px;
            }
            .features {
                .features-item { 
                        padding-left: 20%;
                        padding-right: 20%;
                        height:110px;
                }
              
                
                margin-top:0px;
            }    
          
        
            .tabs-one [class^=tab] [type=radio]:checked, .tabs-one [class*=" tab"] [type=radio]:checked {
                width: 25%;
                margin-left: 37%;
            }
            .tabs-second [class^=tab] [type=radio]:checked, .tabs-second [class*=" tab"] [type=radio]:checked {
                width: 25%;
                margin-left: 37%;
            }
            .bx--side-nav__overlay-active {
                z-index: 1 !important;
            }
          
         
          
        
      }
      
      /* xlg */   
      
      @media (min-width: 1024px) and (max-width: 1279px) {
        .left-100,.left-200 {
            width:90%;
        }
            .aff-mob {
                display: none;
            }
            main {
                padding-bottom: 100px;
                padding-top: 100px;
            }
            .features {
                .features-item { 
                        padding-left: 20%;
                        padding-right: 20%;
                        height:110px;
                }
              
                
                margin-top:0px;
            }    
              

            span, .features-item:hover>div {
                display: block;
            
            }
         
            .tabs-one [class^=tab] [type=radio]:checked, .tabs-one [class*=" tab"] [type=radio]:checked {
                width: 30%;
                margin-left: 35%;
            }
            .tabs-second [class^=tab] [type=radio]:checked, .tabs-second [class*=" tab"] [type=radio]:checked {
                width: 30%;
                margin-left: 35%;
            }
      
      }
        
      /* max */
      @media (min-width: 1280px) {
        .left-100,.left-200 {
            width:80%;
        }
        .aff-mob {
            display: none;
        }
        span, .features-item:hover>div {
            display: block;
        
        }

        .features {
            .features-item { 
                    padding-left: 15%;
                    padding-right: 15%;
                    height:110px;
            }
          
            
            margin-top:0px;
        
        }
        .tabs-one [class^=tab] [type=radio]:checked, .tabs-one [class*=" tab"] [type=radio]:checked {
            width: 30%; 
            margin-left: 35%;
        }
        .tabs-second [class^=tab] [type=radio]:checked, .tabs-second [class*=" tab"] [type=radio]:checked {
            width: 30%; 
            margin-left: 35%;
        }
        .bx--side-nav__overlay-active {
            z-index: 1 !important;
        }
       
      
      }
